html, body {
  font-family: sans-serif;
  text-align: center;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  position: absolute;
}

body::before {
  content: "Drag & Drop an Image";
  border-bottom: 0.0475em dotted transparent;
  transition: 0.4s transform, 0.4s color;
  position: absolute;
  left: 50%;
  top: 50%;
  line-height: 0.85em;
  transform: translate(-50%, -50%);
  font-size: 4em;
  font-weight: 300;
  z-index: -1;
  color: #EEE;
  text-shadow: 0.05em 0 white, -0.05em 0 white;
}
body.dragging {
  background: #FFF;
}
body.dragging #duotone {
  visibility: hidden;
  opacity: 0;
}
body.dragging::before {
  transform: translate(-50%, -75%);
  color: #DDD;
  border-bottom-color: rgba(0, 0, 0, 0.05);
}
body.dropped:not(.dragging)::before {
  content: '';
}

h1 span {
  opacity: 0.5;
}

input {
  margin: 1em 0;
  width: 7em;
}

img {
  display: none;
}

div {
  position: relative;
}

canvas {
  display: block;
  margin: 0 auto;
}

.range-bar {
  width: 170px;
}

#duotone {
  max-width: 80%;
}
.hide {
  display: none;
}